*.pyc
docs
data
lfw
lfw_40
.idea
loss
vgg_face_dataset
saved_network
loss
z_detect_face.py
z_main.py
*.npy
*.Lnk
data1
data1_masked
scratch.py
subset
subset_masked
vgg_face_dataset
*.mp4
ML_examples
*.pptx
datasets
*.dat
*.docx

